@model IEnumerable<Entity.Entities.Schedule>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Solicitacao.Criador)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataEnvioEmailAviso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Solicitacao.Criador)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataEnvioEmailAviso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdSchedule }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdSchedule }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdSchedule })
        </td>
    </tr>
}

</table>
