@model Entity.Entities.Cargo

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="modal-dialog" style="margin-left: 490px !important;">
    <div class="modal-content" style="width: 782px !important;">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">Detalhar Cargo</h4>
        </div>
        <div class="modal-body">
            <div>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Descricao)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Descricao)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Criacao)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Criacao)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Criador)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Criador)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Atualizacao)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Atualizacao)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Atualizador)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Atualizador)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Ativo)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Ativo)
                    </dd>

                </dl>
            </div>
            <p>
                @Html.ActionLink("Editar", "Edit", new { id = Model.IdCargo }, new { @class = "btn btn-primary" }) |
                @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-default" })
            </p>
        </div>
    </div>
</div>
