@model IEnumerable<Entity.Entities.Empresa>

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Empresa</h1>
    </div>
</div>



<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <table class="table table-striped table-bordered table-hover" id="table" width="100%">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.RazaoSocial)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.NomeFantasia)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CGC)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Ativo)
                            </th>
                            <th>

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.RazaoSocial)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NomeFantasia)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CGC)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Ativo)
                                </td>
                                <td>
                                    <a class="btn btn-primary" onclick="onShowModalEdit(@item.IdEmpresa)">Editar</a> |
                                    <a class="btn btn-danger" onclick="onShowModalDelete(@item.IdEmpresa)">Excluir</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="form-group">
    <div class="row">
        <div class="col-md-4">
            <a class="btn btn-primary" onclick="onShowModalCreate()">Novo</a>
        </div>
    </div>
</div>

<div class="modal" id="modal" role="dialog" data-backdrop="static" data-keyboard="false"></div>


@section Scripts{
    <script>
        $(document).ready(function () {
           Datatables("table");
        });

         function onShowModalCreate() {
            $.ajax({
                type: 'GET',
                url: '@Url.Action("Create", "Empresa")',
                cache: false,
                dataType: 'html',
                success: function (data) {
                    $('#modal').html(data);
                    $('#modal').modal('show');
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    //TrataErroAjax(xhr);
                    alert("erro");
                }
            });
        };

        function onShowModalEdit(id) {

            var params = { id: id };

            $.ajax({
                type: 'GET',
                url: '@Url.Action("Edit", "Empresa")',
                data: params,
                cache: false,
                dataType: 'html',
                success: function (data) {
                    $('#modal').html(data);
                    $('#modal').modal('show');
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    //TrataErroAjax(xhr);
                    alert("erro");
                }
            });
        };

        function onShowModalDetail(id) {

            var params = { id: id };

            $.ajax({
                type: 'GET',
                url: '@Url.Action("Details", "Empresa")',
                data: params,
                cache: false,
                dataType: 'html',
                success: function (data) {
                    $('#modal').html(data);
                    $('#modal').modal('show');
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    //TrataErroAjax(xhr);
                    alert("erro");
                }
            });
        };


        function onShowModalDelete(id) {

            var params = { id: id };

            $.ajax({
                type: 'GET',
                url: '@Url.Action("Delete", "Empresa")',
                data: params,
                cache: false,
                dataType: 'html',
                success: function (data) {
                    $('#modal').html(data);
                    $('#modal').modal('show');
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    //TrataErroAjax(xhr);
                    alert("erro");
                }
            });
        };

          function SalvarNovaEmpresa() {

            var RazaoSocial = $('#RazaoSocial').val();
            var NomeFantasia = $('#NomeFantasia').val();
            var Endereco = $('#Endereco').val();
            var Complemento = $('#Complemento').val();
            var Numero = $('#Numero').val();
            var Bairro = $('#Bairro').val();
            var Cidade = $('#Cidade').val();
            var UF = $('#UF').val();
            var CGC = $('#CGC').val();
            var Telefone = $('#Telefone').val();
            var TipoCobranca = $('#TipoCobranca').val();
            var Observacao = $('#Observacao').val();
            var CEP = $('#CEP').val();
              var Email = $('#Email').val();
              var IdTipoEmpresa = $('#IdTipoEmpresa').val();
              var IdAeroporto = $('#IdAeroporto').val();



            var parametros = {
                RazaoSocial: RazaoSocial,
                NomeFantasia: NomeFantasia,
                Endereco: Endereco,
                Complemento: Complemento,
                Numero: Numero,
                Bairro: Bairro,
                Cidade: Cidade,
                UF: UF,
                CGC: CGC,
                Telefone: Telefone,
                TipoCobranca: TipoCobranca,
                Observacao: Observacao,
                CEP: CEP,
                Email: Email,
                IdTipoEmpresa: IdTipoEmpresa,
                IdAeroporto: IdAeroporto
            }


            $.ajax({
                url: '@Url.Action("Create", "Empresa")',
                data: JSON.stringify(parametros),
                contentType: "application/json",
                type: 'POST',
                success: function (result) {
                    if (result.success) {
                        swal({
                            title: "Atenção!",
                            text: result.message,
                            icon: "success"
                        });
                        $('#modal').modal('hide');
                        window.location = '@Url.Action("Index","Empresa")'
                    } else {
                        swal({
                            title: "Atenção!",
                            text: result.message,
                            icon: "error"
                        });
                    }

                },
                erro: function (result) {
                    swal({
                        title: "Erro de sistema!",
                        text: "Por favor entre em contato com o TI!",
                        icon: "error"
                    });
                }
            });
        }


          function AtualizarEmpresa() {
              var IdEmpresa = $('#IdEmpresa').val();
            var RazaoSocial = $('#RazaoSocial').val();
            var NomeFantasia = $('#NomeFantasia').val();
            var Endereco = $('#Endereco').val();
            var Complemento = $('#Complemento').val();
            var Numero = $('#Numero').val();
            var Bairro = $('#Bairro').val();
            var Cidade = $('#Cidade').val();
            var UF = $('#UF').val();
            var CGC = $('#CGC').val();
            var Telefone = $('#Telefone').val();
            var TipoCobranca = $('#TipoCobranca').val();
            var Observacao = $('#Observacao').val();
            var CEP = $('#CEP').val();
              var Email = $('#Email').val();
              var IdTipoEmpresa = $('#IdTipoEmpresa').val();
              var IdAeroporto = $('#IdAeroporto').val();



              var parametros = {
                IdEmpresa: IdEmpresa,
                RazaoSocial: RazaoSocial,
                NomeFantasia: NomeFantasia,
                Endereco: Endereco,
                Complemento: Complemento,
                Numero: Numero,
                Bairro: Bairro,
                Cidade: Cidade,
                UF: UF,
                CGC: CGC,
                Telefone: Telefone,
                TipoCobranca: TipoCobranca,
                Observacao: Observacao,
                CEP: CEP,
                Email: Email,
                IdTipoEmpresa: IdTipoEmpresa,
                IdAeroporto: IdAeroporto
            }


            $.ajax({
                url: '@Url.Action("Edit", "Empresa")',
                data: JSON.stringify(parametros),
                contentType: "application/json",
                type: 'POST',
                success: function (result) {
                    if (result.success) {
                        swal({
                            title: "Atenção!",
                            text: result.message,
                            icon: "success"
                        });
                        $('#modal').modal('hide');
                        window.location = '@Url.Action("Index","Empresa")'
                    } else {
                        swal({
                            title: "Atenção!",
                            text: result.message,
                            icon: "error"
                        });
                    }

                },
                erro: function (result) {
                    swal({
                        title: "Erro de sistema!",
                        text: "Por favor entre em contato com o TI!",
                        icon: "error"
                    });
                }
            });
        }

    </script>
}
