@model IEnumerable<Entity.Entities.Empresa>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RazaoSocial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomeFantasia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Endereco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Complemento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Numero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bairro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UF)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CGC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoCobranca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Observacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CEP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumeroContrato)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Criacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Criador)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Atualizacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Atualizador)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ativo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RazaoSocial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomeFantasia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Endereco)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Complemento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Numero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bairro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cidade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UF)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CGC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoCobranca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Observacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CEP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumeroContrato)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Criacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Criador)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Atualizacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Atualizador)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ativo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdEmpresa }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdEmpresa }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdEmpresa })
        </td>
    </tr>
}

</table>
