@model WebSIC.Models.SolicitacaoViewModel


<div class="modal-dialog" style="margin-left: 490px !important;">
    <div class="modal-content" style="width: 795px !important;">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">Nova Solicitação</h4>
        </div>
        <div class="form-horizontal">
            @using (Html.BeginForm("Create", "Solicitacao", FormMethod.Post, new { id = "form-solicitacao", enctype = "multipart/form-data" }))
            {
                @*@Html.AntiForgeryToken()*@
                @Html.HiddenFor(model => model.IdPessoa);

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Aeroportos, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-9">
                        <div class="checkbox">
                            @Html.DropDownListFor(d => d.IdAeroporto, new SelectList(Model.Aeroportos.OrderBy(o => o.IdAeroporto), "IdAeroporto", "Descricao"), "Selecione", new { @class = "form-control select2" })
                            @Html.ValidationMessageFor(model => model.IdAeroporto, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Empresas, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-9">
                        <div class="checkbox">
                            @Html.DropDownListFor(d => d.IdEmpresa, new SelectList(Model.Empresas), "Selecione", new { @class = "form-control select2" })
                            @Html.ValidationMessageFor(model => model.IdEmpresa, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Contratos, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        <div class="checkbox">
                            @Html.DropDownListFor(d => d.IdContrato, new SelectList(Model.Contratos), "Selecione", new { @class = "form-control select2" })
                            @Html.ValidationMessageFor(model => model.IdContrato, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.IdTipoEmissao, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        <div class="checkbox">
                            @Html.EnumDropDownListFor(d => d.TiposEmissao, "Selecione", new { @class = "form-control select2" })
                            @Html.ValidationMessageFor(model => model.IdTipoEmissao, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.RamoAtividade, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-9">
                        <div class="checkbox">
                            @Html.DropDownListFor(d => d.IdRamoAtividade, new SelectList(Model.RamoAtividade.OrderBy(o => o.IdRamoAtividade), "IdRamoAtividade", "Descricao"), "Selecione", new { @class = "form-control select2" })
                            @Html.ValidationMessageFor(model => model.RamoAtividade, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.TiposSolicitacao, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        <div class="checkbox">
                            @Html.DropDownListFor(d => d.IdTipoSolicitacao, new SelectList(Model.TiposSolicitacao, "IdTipoSolicitacao", "Descricao"), "Selecione", new { @class = "form-control select2" })
                            @Html.ValidationMessageFor(model => model.IdTipoSolicitacao, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Observacao, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        <div class="checkbox">
                            @Html.TextBoxFor(d => d.Observacao, new { @class = "form-control" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Areas, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        <div class="checkbox">
                            @Html.DropDownListFor(d => d.IdArea1, new SelectList(Model.Areas.OrderBy(o => o.IdArea), "IdArea", "Sigla"), "Selecione", new { @class = "form-control select2" })
                            @Html.ValidationMessageFor(model => model.IdArea1, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    @Html.LabelFor(model => model.Areas, htmlAttributes: new { @class = "control-label col-md-1" })
                    <div class="col-md-4">
                        <div class="checkbox">
                            @Html.DropDownListFor(d => d.IdArea2, new SelectList(Model.Areas.OrderBy(o => o.IdArea), "IdArea", "Sigla"), "Selecione", new { @class = "form-control select2" })
                            @Html.ValidationMessageFor(model => model.IdArea2, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Cargo, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        <div class="checkbox">
                            @Html.DropDownListFor(d => d.IdCargo, new SelectList(Model.Cargo, "IdCargo", "Descricao"), "Selecione", new { @class = "form-control select2" })
                            @Html.ValidationMessageFor(model => model.IdCargo, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                @*<div class="form-group">
                    @Html.LabelFor(model => model.AcessoAreaManobra, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-sm-1">
                        <div class="checkbox">
                            @Html.CheckBoxFor(d => d.AcessoAreaManobra, new { @class = "form-control" })
                        </div>
                    </div>
                    @Html.LabelFor(model => model.ManipulaBagagem, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-sm-1">
                        <div class="checkbox">
                            @Html.CheckBoxFor(d => d.ManipulaBagagem, new { @class = "form-control" })
                        </div>
                    </div>
                </div>*@

                <div class="form-group">
                    @Html.LabelFor(model => model.AcessoAreaManobra, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-sm-1">
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.AcessoAreaManobra, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                    @Html.LabelFor(model => model.ManipulaBagagem, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-sm-1">
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.ManipulaBagagem, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CertAntCrimPCFilePath, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        <div class="checkbox">
                            <input type="file" id="CertAntCrimPCFile" name="CertAntCrimPCFile" />
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CertAntCrimPFFilePath, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        <div class="checkbox">
                            <input type="file" id="CertAntCrimPFFile" name="CertAntCrimPFFile" />
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CertTJBAFilePath, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        <div class="checkbox">
                            <input type="file" id="CertTJBAFile" name="CertTJBAFile" />
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CertTRFFilePath, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        <div class="checkbox">
                            <input type="file" id="CertTRFFile" name="CertTRFFile" />
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="modal-footer">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button id="btnSave" class="btn btn-primary" onclick="Salvar('#form-solicitacao')">Salvar</button>
                </div>
            </div>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->


@section Scripts{
    <script src="~/Scripts/app.js"></script>
}

<script type="text/javascript">
    $(function () {
        $("#IdAeroporto").change(function () {
            var val = $(this).val();
            var options = "";
            $.getJSON(
                "@Url.Action("GetEmpresas", "Solicitacao")", { idAeroporto: val },
                function (data) {
                    $.each(data, function(index, item){
                        options += "<option value='" + item.Value + "'>" + item.Text + "</option>";
                    });
                    $("#IdEmpresa").html(options);
                    $('#IdEmpresa').trigger('change');
                }
            );
        });
        $("#IdEmpresa").change(function () {
            var val = $(this).val();
            var options = "";
            $.getJSON(
                "@Url.Action("GetContratos", "Solicitacao")", { idEmpresa: val },
                function (data) {
                    $.each(data, function(index, item){
                        options += "<option value='" + item.Value + "'>" + item.Text + "</option>";
                    });
                    $("#IdContrato").html(options);
                }
            );
        });
    });
</script>
