
@using (Html.BeginForm())
{
    @section scripts
    {
        <script src="@Url.Content("~/Scripts/jquery.webcam.js")"></script>
    }
    <!--https://foliotek.github.io/Croppie/-->
    <div class="demo-wrap">
        <div class="container">
            <div class="grid">
                <div class="col-1-2">
                    <div id="Camera"></div>
                    <div class="actions">
                        <input type="button" value="Capture" onclick="webcam.capture();" />
                    </div>
                </div>
                <div class="col-1-2">
                    <div id="resizer-demo">
                        <img id="show" style="width: 320px; height: 240px;" src="@Url.Content("~/Images/Foto/person.jpg")" />
                    </div>
                    <div class="actions">
                        <input id="Submit1" type="button" onclick="UploadSubmit();" value="submit" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script type="text/javascript">
    function PopUpResult(result) {
        var html;
        if (result.html)
            html = result.html;
        if (result.src)
            html = '<img src="' + result.src + '" />';

        swal({
            title: '',
            html: true,
            text: html,
            allowOutsideClick: true,
            icon: "success"
        });

        setTimeout(function () {
            $('.sweet-alert').css('margin', function () {
                var top = -1 * ($(this).height() / 2);
                var left = -1 * ($(this).width() / 2);
                return top + 'px 0 0 ' + left + 'px';
            });
        }, 1);
    }
    function UploadPic() {
        $.ajax({
            type: 'POST',
            url: ("@Url.Content("~/Photo/Rebind")/"),
            dataType: 'json',
            success: function (data) {
                $("#show").croppie("bind", { url: data });
                document.getElementById('Submit1').disabled = false;
                swal({
                    title: "Good job!",
                    text: "Photo Capture successfully!",
                    icon: "success",
                    button: "OK!",
                });
            }
        });
    }
    function UploadSubmit() {
        debugger;
        $("#show").croppie('result', {
            type: 'canvas',
            size: 'viewport'
        }).then(function (resp) {
            $.ajax({
                type: 'POST',
                url: ("@Url.Content("~/Photo/Index")/"),
                dataType: 'json',
                data: { base64Image: resp },
                success: function () {
                    swal({
                        title: "Good job!",
                        text: "Photo was upload successfully!",
                        icon: "success",
                        button: "OK!",
                    });
                }
           });
        });
        window.opener.location.href = "http://localhost:55694/Photo/Changephoto";
        self.close();
    }
    function Load() {
        debugger;
        $("#Camera").webcam({
            width: 320,
            height: 240,
            mode: "save",
            swffile: "@Url.Content("~/Scripts/jscam.swf")",
            onTick: function () { },
            onSave: function () {
                UploadPic();
            },
            onCapture: function () {
                webcam.save("@Url.Content("~/Photo/Capture")/");
            },
            debug: function () { },
            onLoad: function () { }
        });

        document.getElementById('Submit1').disabled = true;

        $("#show").croppie({
            viewport: {
                width: 150,
                height: 200
            },
            boundary: {
                width: 320,
                height: 240
            },
            showZoomer: true,
            enableResize: true,
            enableOrientation: true
        });
    }

    $(document).ready(function () {
        Load();
    });
</script>
