@model IEnumerable<Entity.Entities.Turma>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Turmas</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <table class="table table-striped table-bordered table-hover" id="table" width="100%">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Curso)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Titulo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Realizacao)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DataValidade)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Observacao)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Curso.Titulo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Titulo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Realizacao)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DataValidade)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Observacao)
                                </td>
                                <td class="min">
                                  @*  <button class="btn btn-warning details" data-id="@item.IdTurma">Detalhar<i class="glyphicon glyphicon-file"></i></button>*@
                                    <button class="btn btn-primary edit" data-id="@item.IdTurma">Editar</button> |
                                    <button class="btn btn-danger delete" data-id="@item.IdTurma">Excluir</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="form-group">
    <div class="row">
        <div class="col-md-4">
            <button class="btn btn-primary create">Novo</button>
        </div>
    </div>
</div>

<div class="modal" id="modal" role="dialog" data-backdrop="static" data-keyboard="false"></div>

<script src="~/Scripts/Index.js"></script>