@model WebSIC.Models.PessoaViewModel

@if (TempData["notification"] != null)
{
    @Html.Raw(TempData["notification"])
    TempData["notification"] = null;
}


<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Pessoa</h1>
    </div>
</div>

<div class="form-horizontal">
    @using (Html.BeginForm("Edit", "Pessoa", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.IdPessoa)
        @Html.HiddenFor(model => model.ImageUrl)
        @Html.HiddenFor(model => model.DataValidadeFoto)

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="col-md-1">
            <div class="checkbox">
                <img id="Userpic" src="@Model.ImageUrl" style="height: 170px; width: 120px;" />
                <div class="checkbox" style="margin-left: 20px;">
                    <input type="button" id="btnSave" value="Tirar foto" onclick="onShowModalToTakeAPicture(@Model.IdPessoa)" class="btn btn-primary" />
                </div>
            </div>
        </div>

        <div class="form-group" style="height: 50px;">
            @Html.LabelFor(model => model.RG, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-2">
                <div class="checkbox">
                    @Html.EditorFor(model => model.RG, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            @Html.LabelFor(model => model.OrgaoExpeditor, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                <div class="checkbox">
                    @Html.EditorFor(model => model.OrgaoExpeditor, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            @Html.LabelFor(model => model.UFOrgaoExpeditor, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-1">
                <div class="checkbox">
                    @Html.EditorFor(model => model.UFOrgaoExpeditor, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
        </div>

        <div class="form-group" style="height: 50px;">
            @Html.LabelFor(model => model.CPF, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-2">
                <div class="checkbox">
                    @Html.EditorFor(model => model.CPF, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            @Html.LabelFor(model => model.RNE, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                <div class="checkbox">
                    @Html.EditorFor(model => model.RNE, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
        </div>

        <div class="form-group" style="height: 50px;">
            @Html.LabelFor(model => model.NomeCompleto, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.NomeCompleto, new { htmlAttributes = new { @class = "form-control" } })
            </div>

            @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group" style="height: 50px;">
            @Html.LabelFor(model => model.DataNascimento, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.DataNascimento, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group" style="height: 50px;">
            @Html.LabelFor(model => model.Genero, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-2">
                <div class="checkbox">
                    @Html.EnumDropDownListFor(d => d.Genero, "Selecione", new { @class = "form-control select2" })
                    @Html.ValidationMessageFor(model => model.Genero, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group" style="height: 50px;">
            @Html.LabelFor(model => model.NomePai, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.NomePai, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group" style="height: 50px;">
            @Html.LabelFor(model => model.NomeMae, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-6">
                <div class="checkbox">
                    @Html.EditorFor(model => model.NomeMae, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
        </div>

        <div class="form-group" style="height: 50px;">
            @Html.LabelFor(model => model.CEP, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-2">
                <div class="checkbox">
                    @Html.EditorFor(model => model.CEP, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
        </div>

        <div class="form-group" style="height: 50px;">
            @Html.LabelFor(model => model.Endereco, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-6">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Endereco, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            @Html.LabelFor(model => model.Complemento, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-3">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Complemento, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
        </div>



        <div class="form-group" style="height: 50px;">
            @Html.LabelFor(model => model.Numero, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-1">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Numero, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            @Html.LabelFor(model => model.Bairro, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Bairro, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
        </div>

        <div class="form-group" style="height: 50px;">
            @Html.LabelFor(model => model.Cidade, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-2">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Cidade, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            @Html.LabelFor(model => model.UF, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-1">
                <div class="checkbox">
                    @Html.EditorFor(model => model.UF, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
        </div>



        <div class="form-group" style="height: 50px;">
            @Html.LabelFor(model => model.TelefoneResidencial, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-2">
                <div class="checkbox">
                    @Html.EditorFor(model => model.TelefoneResidencial, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            @Html.LabelFor(model => model.TelefoneCelular, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-2">
                <div class="checkbox">
                    @Html.EditorFor(model => model.TelefoneCelular, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            @Html.LabelFor(model => model.TelefoneEmergencia, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-2">
                <div class="checkbox">
                    @Html.EditorFor(model => model.TelefoneEmergencia, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
        </div>

        <div class="form-group" style="height: 50px;">
            @Html.LabelFor(model => model.Observacao, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Observacao, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
        </div>

        <div class="form-group" style="height: 50px;">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-5">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
        </div>

        <div class="form-group" style="height: 50px;">
            @Html.LabelFor(model => model.CNH, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-2">
                <div class="checkbox">
                    @Html.EditorFor(model => model.CNH, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            @Html.LabelFor(model => model.DataValidadeCNH, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-2">
                <div class="checkbox">
                    @Html.EditorFor(model => model.DataValidadeCNH, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="col-md-2">
                <div class="checkbox">
                    @Html.EnumDropDownListFor(d => d.CategoriaUm, "Selecione", new { @class = "form-control select1" })
                </div>
            </div>
        </div>

        <div class="form-group" style="height: 50px;">
            @Html.LabelFor(model => model.FlgCVE, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-sm-1">
                <div class="checkbox">
                    @Html.CheckBoxFor(model => model.FlgCVE, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            @Html.LabelFor(model => model.FlgResidenciaForaDoPaisNosUltimos10Anos, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-sm-1">
                <div class="checkbox">
                    @Html.CheckBoxFor(model => model.FlgCVE, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            @Html.LabelFor(model => model.ObservacaoResidenciaForaDoPaisNosUltimos10Anos, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-5">
                <div class="checkbox">
                    @Html.EditorFor(model => model.ObservacaoResidenciaForaDoPaisNosUltimos10Anos, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <h4 class="page-header">Anexos</h4>
            </div>
        </div>

        <div class="form-group" style="height: 50px;">
            @Html.LabelFor(model => model.RGFilePath, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-2">
                <input type="file" id="RGFile" name="RGFile" />
                <a href="@Url.Content(Model.RGFilePath ?? "#")" target="_blank" class="">@Html.Raw(string.Format("Abrir {0}", Path.GetFileName(Model.RGFilePath ?? "")))</a>
                @Html.HiddenFor(model => model.RGFilePath)
            </div>

            @Html.LabelFor(model => model.CRFilePath, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-2">
                <input type="file" id="CRFile" name="CRFile" />
                <a href="@Url.Content(Model.CRFilePath ?? "#")" target="_blank" class="">@Html.Raw(string.Format("Abrir {0}", Path.GetFileName(Model.CRFilePath ?? "")))</a>
                @Html.HiddenFor(model => model.CRFilePath)
            </div>
        </div>

        <div class="form-group" style="height: 50px;">
            @Html.LabelFor(model => model.CNHFilePath, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-2">
                <input type="file" id="CNHFile" name="CNHFile" />
                <a href="@Url.Content(Model.CNHFilePath ?? "#")" target="_blank" class="">@Html.Raw(string.Format("Abrir {0}", Path.GetFileName(Model.CNHFilePath ?? "")))</a>
                @Html.HiddenFor(model => model.CNHFilePath)
            </div>

            @Html.LabelFor(model => model.CTPSFilePath, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-2">
                <input type="file" id="CTPSFile" name="CTPSFile" />
                <a href="@Url.Content(Model.CTPSFilePath ?? "#")" target="_blank" class="">@Html.Raw(string.Format("Abrir {0}", Path.GetFileName(Model.CTPSFilePath ?? "")))</a>
                @Html.HiddenFor(model => model.CTPSFilePath)
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-lg-12">
                    <h4 class="page-header">Solicitação</h4>
                </div>
                <div class="form-group">
                    <div class="col-md-4" style="padding-left: 30px;">
                        <a class="btn btn-primary" onclick="onShowModalCreate(@Model.IdPessoa, 'Solicitacao')">Novo</a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <table class="table table-striped table-bordered table-hover" id="table-solicitacao" width="100%">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Solicitacaos.First().Aeroporto)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Solicitacaos.First().TipoSolicitacao)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Solicitacaos.First().TipoEmissao)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Solicitacaos.First().Empresa)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Solicitacaos.First().Area1)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Solicitacaos.First().Area2)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Solicitacaos.First().Credencial.DataVencimento)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Solicitacaos.First().Credencial.DataDesativacao)
                                        </th>
                                        <th>

                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Solicitacaos)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(model => item.Aeroporto.Sigla)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(model => item.TipoSolicitacao.Descricao)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(model => item.TipoEmissao)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(model => item.Empresa.NomeFantasia)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(model => item.Area1.Sigla)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(model => item.Area2.Sigla)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(model => item.Credencial.DataVencimento)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(model => item.Credencial.DataDesativacao)
                                            </td>
                                            <td>
                                                <a class="btn btn-primary" onclick="onShowModalEdit(@item.IdSolicitacao, 'Solicitacao')">Anexar</a> |
                                                <a class="btn btn-danger" onclick="onShowModalDelete(@item.IdSolicitacao, 'Solicitacao')">Excluir</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-lg-12">
                    <h4 class="page-header">Cursos</h4>
                </div>
                <div class="form-group">
                    <div class="col-md-4" style="padding-left: 30px;">
                        <a class="btn btn-primary" onclick="onShowModalCreateCST(@Model.IdPessoa)">Novo</a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <table class="table table-striped table-bordered table-hover" id="table-curso" width="100%">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Curso.First().Curso.Titulo)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Curso.First().DataValidade)
                                        </th>
                                        <th>

                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Curso)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(model => item.Curso.Titulo)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(model => item.DataValidade)
                                            </td>
                                            <td>
                                                <a class="btn btn-primary" onclick="onShowModalEditCST(@item.IdCursoSemTurma)">Editar</a> |
                                                <a class="btn btn-danger" onclick="onShowModalDeleteCST(@item.IdCursoSemTurma)">Excluir</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Salvar" class="btn btn-primary" />
                @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-danger" })
            </div>
        </div>
    }
</div>



<div class="modal" id="modal" role="dialog" data-backdrop="static" data-keyboard="false"></div>




@section Scripts{
    <script src="@Url.Content("~/Scripts/jquery.webcam.js")"></script>
    <script src="@Url.Content("~/Scripts/app.js")"></script>

    <script>
        $(document).ready(function () {
            Datatables("table-solicitacao");
            Datatables("table-curso");
        });

        $('#CPF').mask('000.000.000-00');
        //$('#RG').mask('00000000-00');
        $('#CEP').mask('00000-000');
        $('#TelefoneResidencial').mask('(00) 00000-0000');
        $('#TelefoneCelular').mask('(00) 00000-0000');
        $('#TelefoneEmergencia').mask('(00) 00000-0000');
        $('#DataValidadeCNH').mask('00/00/0000');
        $('#DataNascimento').mask('00/00/0000');

        $("#DataValidadeCNH").datepicker({
            showOn: "button",
            format: 'dd/mm/yyyy',
            todayBtn: "linked",
            clearBtn: true,
            autoclose: true,
            todayHighlight: true
        });


        $("#DataNascimento").datepicker({
            showOn: "button",
            format: 'dd/mm/yyyy',
            todayBtn: "linked",
            clearBtn: true,
            autoclose: true,
            todayHighlight: true
        });



    </script>
}
