@model Entity.Entities.Pessoa

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Pessoa</h1>
    </div>
</div>


<div class="form-horizontal">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.RG, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-2">
                <div class="checkbox">
                    @Html.EditorFor(model => model.RG, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            @Html.LabelFor(model => model.OrgaoExpeditor, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                <div class="checkbox">
                    @Html.EditorFor(model => model.OrgaoExpeditor, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            @Html.LabelFor(model => model.UFOrgaoExpeditor, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-1">
                <div class="checkbox">
                    @Html.EditorFor(model => model.UFOrgaoExpeditor, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CPF, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-2">
                <div class="checkbox">
                    @Html.EditorFor(model => model.CPF, new { htmlAttributes = new { @class = "form-control" } })
                    @*<a class="fa fa-search" onclick="ObterPessoaPorCPF()"></a>*@
                </div>
            </div>

            @Html.LabelFor(model => model.RNE, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                <div class="checkbox">
                    @Html.EditorFor(model => model.RNE, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
            </div>

            @Html.LabelFor(model => model.Apelido, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.Apelido, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DataNascimento, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.DataNascimento, new { htmlAttributes = new { @class = "form-control" } })
            </div>

            @*@Html.LabelFor(model => model.Generos, htmlAttributes: new { @class = "control-label col-md-1" })
                <div class="col-md-2">
                    <div class="checkbox">
                        @Html.DropDownListFor(d => d.IdGenero, new SelectList(Model.Generos.OrderBy(o => o.IdGenero), "IdGenero", "Descricao"), "Selecione", new { @class = "form-control select2" })
                        @Html.ValidationMessageFor(model => model.IdGenero, "", new { @class = "text-danger" })
                    </div>
                </div>*@

        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NomePai, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.NomePai, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NomeMae, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-6">
                <div class="checkbox">
                    @Html.EditorFor(model => model.NomeMae, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CEP, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-2">
                <div class="checkbox">
                    @Html.EditorFor(model => model.CEP, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Endereco, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-6">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Endereco, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            @Html.LabelFor(model => model.Complemento, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-3">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Complemento, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.Numero, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-1">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Numero, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            @Html.LabelFor(model => model.Bairro, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Bairro, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Cidade, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-2">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Cidade, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            @Html.LabelFor(model => model.UF, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-1">
                <div class="checkbox">
                    @Html.EditorFor(model => model.UF, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.TelefoneResidencial, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-2">
                <div class="checkbox">
                    @Html.EditorFor(model => model.TelefoneResidencial, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            @Html.LabelFor(model => model.TelefoneCelular, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-2">
                <div class="checkbox">
                    @Html.EditorFor(model => model.TelefoneCelular, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            @Html.LabelFor(model => model.TelefoneEmergencia, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-2">
                <div class="checkbox">
                    @Html.EditorFor(model => model.TelefoneEmergencia, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Observacao, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Observacao, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-5">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CNH, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-2">
                <div class="checkbox">
                    @Html.EditorFor(model => model.CNH, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            @Html.LabelFor(model => model.DataValidadeCNH, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-2">
                <div class="checkbox">
                    @Html.EditorFor(model => model.DataValidadeCNH, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            @Html.LabelFor(model => model.CategoriaCNH, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-1">
                <div class="checkbox">
                    @Html.EditorFor(model => model.CategoriaCNH, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FlgCVE, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-1">
                <div class="checkbox">
                    @Html.CheckBoxFor(model => model.FlgCVE, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-lg-12">
                    <h4 class="page-header">Solicitação</h4>
                </div>
                <div class="form-group">
                    <div class="col-md-4" style="padding-left: 30px;">
                        <a class="btn btn-primary" onclick="onShowModalCreate(@Model.IdPessoa, 'Solicitacao')">Novo</a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <table class="table table-striped table-bordered table-hover" id="table-solicitacao" width="100%">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Solicitacaos.First().TipoSolicitacao)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Solicitacaos.First().Empresa)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Solicitacaos.First().Area1)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Solicitacaos.First().Area2)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Solicitacaos.First().Contrato)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Solicitacaos.First().FlgMotorista)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Solicitacaos.First().Criacao)
                                        </th>
                                        <th>

                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Solicitacaos)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(model => item.TipoSolicitacao.Descricao)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(model => item.Empresa.NomeFantasia)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(model => item.Area1.Sigla)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(model => item.Area2.Sigla)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(model => item.Contrato.Numero)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(model => item.FlgMotorista)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(model => item.Criacao)
                                            </td>
                                            <td>
                                                <a class="btn btn-primary" onclick="onShowModalEdit(@item.IdSolicitacao, 'Solicitacao')">Editar</a> |
                                                <a class="btn btn-danger" onclick="onShowModalDelete(@item.IdSolicitacao, 'Solicitacao')">Excluir</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-lg-12">
                    <h4 class="page-header">Cursos</h4>
                </div>
                @*<div class="form-group">
                    <div class="col-md-4" style="padding-left: 30px;">
                        <a class="btn btn-primary" onclick="onShowModalCreate(@Model.IdPessoa, 'Solicitacao')">Novo</a>
                    </div>
                </div>*@
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <table class="table table-striped table-bordered table-hover" id="table-curso" width="100%">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Solicitacaos.First().TipoSolicitacao)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Solicitacaos.First().Empresa)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Solicitacaos.First().Area1)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Solicitacaos.First().Area2)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Solicitacaos.First().Contrato)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Solicitacaos.First().FlgMotorista)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Solicitacaos.First().Criacao)
                                        </th>
                                        <th>

                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Solicitacaos)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(model => item.TipoSolicitacao.Descricao)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(model => item.Empresa.NomeFantasia)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(model => item.Area1.Sigla)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(model => item.Area2.Sigla)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(model => item.Contrato.Numero)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(model => item.FlgMotorista)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(model => item.Criacao)
                                            </td>
                                            <td>
                                                <a class="btn btn-primary" onclick="onShowModalEdit(@item.IdSolicitacao, 'Solicitacao')">Editar</a> |
                                                <a class="btn btn-danger" onclick="onShowModalDelete(@item.IdSolicitacao, 'Solicitacao')">Excluir</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }


    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" value="Salvar" class="btn btn-primary" />
            @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-danger" })
        </div>
    </div>
</div>


<div class="modal" id="modal" role="dialog" data-backdrop="static" data-keyboard="false"></div>




@section Scripts{
    <script src="~/Scripts/index.js"></script>

    <script>
        $(document).ready(function () {
            Datatables("table-solicitacao");
            Datatables("table-curso");
        });
    </script>
}
