@model Entity.Entities.Credencial


<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Impressão de ATIV</h1>
    </div>
</div>


<div class="form-horizontal">
    <div class="form-group">
        <div class="control-label col-md-3">
            <label>Impressora</label>
        </div>
        <div class="col-md-5">
            @*@Html.EnumDropDownListFor(d => d.Impressora, "Selecione", new { @class = "form-control select2" })*@
        </div>
        <div class="col-md-2">
            <input type="button" value="Imprimir" class="btn btn-success" onclick="Imprimir(@Model.IdCredencial)" />
        </div>
    </div>
    <div class="form-group">
        <div class="control-label col-md-2">
        </div>
        <div class="col-md-2">
            <div id="divReportFront">

            </div>
        </div>
    </div>
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


    <script>

        $(document).ready(function () {

            var idCredencial = @Model.IdCredencial;
                //$("#IdCredencial").val();

            $.ajax({
                url: '@Url.Action("PreviewATIV","Credencial")',
                data: { idCredencial: idCredencial },  // post
                method: "GET",
                success: function (result) {
                    var iframeFront = '<iframe id="reportFrame" width="900px" height="1100px" src="../../ReportFront.aspx" scrolling="no" frameborder="0"></iframe>';
                    $("#divReportFront").html(iframeFront);
                },
                error: function () {

                }
            });



        });

    </script>
}
